<launch>

  <!-- Enable/disable other nodes -->
  <arg name="websocket" value="1"/>
  <arg name="lidar" value="1"/>
  <arg name="imu" value="1"/>
  <arg name="gps" value="1"/>
  <arg name="flagbutton" value="1"/>

  <!-- Launch other nodes -->
  <group if="$(arg websocket)">
    <include file="$(find div_datalogger)/launch/rosbridge_websocket.launch"></include>
  </group>
  <group if="$(arg lidar)">
    <include file="$(find div_datalogger)/launch/lidar.launch"></include>
  </group>
  <group if="$(arg imu)">
    <include file="$(find div_datalogger)/launch/imu.launch"></include>
  </group>
  <group if="$(arg gps)">
    <include file="$(find div_datalogger)/launch/nmea_navsat.launch"></include>
  </group>
  <group if="$(arg flagbutton)">
    <node pkg="div_datalogger" type="flagbutton.py" name="flagbutton" respawn="true"></node>
  </group>
  
  <!-- Launch file for data logger -->
  <node pkg="div_datalogger" type="datalogger.py" name="datalogger" output="screen" respawn="true"></node>

</launch>
